{% extends "base.html" %}

{% block content %}
		
	 	<div class="about center">
	 		<h1>{{project.name}}.</span></h1>
	 		<p class="about__desc">
          	{{project.description}}
        </p>

	 	</div>
	 	<div class="images-holder">
	 		{% for image in project.images.all%}
	 		<div >
	 			<img  class="image-item" src="{{image.picture}}"/>
	 		</div>
	 		{% endfor %}
	 	</div>
	 		{% if project.live_example %}
	 			 <iframe width="100%" height="100%" frameborder="0" src="{{project.live_example}}"></iframe> 
	 		{% endif%}
	 		
	 	<article >
	 		<p class="atricale">
	 		{{project.articale}}
	 	</p>
	 	</article>

{% endblock content %}